/* Media Queries */
$TekkareBreakpointTablet: 600px;

/* Colors */
$TekkareColorBlack: black;
$TekkareColorBodyBg: #e2e5ee;
$TekkareColorElementsBg: white;
$TekkareColorBorder: #e6e6e6;
$TekkareColorSuccess: #5de2a0;

/* Fonts */
$TekkareFontArial: Arial, Helvetica, sans-serif;